@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'League Spartan', sans-serif;

	background-color: #e5e5f7;
	opacity: 0.8;
	background-image: radial-gradient(#9093bb 1px, #c2c2fc 1px);
	background-size: 10px 10px;

	overflow-x: hidden;
}
